version: "3.7"

services:
  postgres:
    container_name: "go_u8views_postgres"
    image: postgres:14.2
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
#    ports:
 #     - "5432:5432"
    volumes:
      - ./.docker/volumes/postgresql/data/:/var/lib/postgresql/data/

  app:
    container_name: "go_u8views_app"
    image: golang:1.21.0-alpine
    working_dir: /go/src/github.com/u8views/go-u8views
    volumes:
      - .:/go/src/github.com/u8views/go-u8views
      - ./.docker/volumes/go/tls-certificates:/var/lib/tls-certificates/data/
    command: "sleep infinity"
    environment:
      GIN_MODE: release
      ENVIRONMENT: ${ENVIRONMENT:-development}
      POSTGRES_DSN: ${POSTGRES_DSN}
      GOOSE_DBSTRING: ${POSTGRES_DSN}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      TLS_CERTIFICATES_DIR: /var/lib/tls-certificates/data/
      HOSTS: ${HOSTS}
    ports:
      - "8080:80"
      - "443:443"
    depends_on:
      - postgres
